.page {
    display: none;
}

.page.active {
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif ;
    position: relative;
    margin: 0;
    background-color: rgb(192, 212, 228);
  }
nav{
    display: flex;
    background-color: rgb(46, 139, 216);
    align-items: center;
    justify-content: space-around;
    color: white;
}  
main {
    background-color: rgb(194, 207, 216);
    border: 4px solid rgb(72, 113, 189);
    border-radius: 10px;
    padding: .5cm;
    margin-top: 3cm;
    margin-left: auto;
    margin-right: auto;
    color: rgb(0, 0, 0);
    font-size: xx-large;
    text-align: center;
    font: normal xx-large auto Arial;
    box-shadow: 0 0 50px 8px rgb(24, 24, 189);
}
#main1{
    height: 63vh;
    width: 15cm;
}
#main2{
    height: 77vh;
    width: 20cm;
    position: relative;
}
.form-label{
    grid-row: 7;
    color: rgb(0, 60, 255);
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    font: 2cm;
}
.form-control{
    grid-row: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    width: 75%;
    height: .8cm;
}
#button1{
    width: 80%;
    height: 50px;
    padding: 5px;
    font-size: 40px;
    background-color: rgb(38, 41, 170);
    color: white;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn{
    width: 270px;
    height:200px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    background-color: rgb(48, 102, 184);
    font-weight: bolder;
    font-family: serif;
    cursor: pointer;
    transition: all .3s;
}
.btn:hover{
    background-color: #0e1b63;
    color: #fff;
    
}
.nav-button{
    width: 100px;
    height:40px;
    padding: 5px;
    font-size: 20px;
    background-color: rgb(114, 162, 252);
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.dropdown button{
    width:200px;
    height:50px;
    font-size: x-large;
    padding: 1px;
    border-radius: 5px;
}
#previous{
    position: absolute;
    bottom: 0;
    left: 0;
}
#next{
    position: absolute;
    bottom: 0;
    right: 0;
}
a{
    color: rgb(89, 93, 150);
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: auto;    
}
th a{
    color: red;
    font-size: x-large ;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.quiz-container h1{
    color:navy;
}
#page2{
    background: url(../assets/pxfuel.jpg);
}
#page1{
    background: url(../assets/brady-bellini-_hpk_92Crhs-unsplash.jpg);
}
table {
    width: 100%;
    border-collapse: collapse;
  }
caption {
    font-size: 2 cm;
    font-weight: bolder;
  }
  
thead th {
    background-color: #f0f0f0;
    border-bottom: 2px solid #ccc;
    padding: 10px;
}
  
tbody td {
    padding: 10px;
}  
th, td {
    text-align: left;
}
#appname{
    color: #1d1379;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
  
  .dropdown {
    position: absolute;
    top: 10px;
    right: 100px;
  }
  
  #toggleButton {
    position: relative;
    z-index: 2;
  }
  
  #dropdownForm {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    border: 1px solid #37aad8;
    padding: 10px;
    z-index: 1;
  }
  .adminPosting{
    display: grid;
  }